<h2>Pousadas Recentes</h2>
<% @recent_guesthouses.each do |guesthouse| %>
  <div class="recent-guesthouse">
    <%= link_to guesthouse.brand_name, guesthouse_path(guesthouse) %>
    <p><%= guesthouse.city %></p>
  </div>
<% end %>

<h2>Outras Pousadas</h2>
<% @other_guesthouses.each do |guesthouse| %>
  <div class="other-guesthouse">
    <%= link_to guesthouse.brand_name, guesthouse_path(guesthouse) %>
    <p><%= guesthouse.city %></p>
  </div>
<% end %>